<div class="form-group">
<label class="col-xs-2 control-label">{{parameter.name}}</label>
{{#if isRadio}}
  <div class="col-xs-5">
  {{view 'select' content=parameter.options
  value=value
  optionValuePath="content"
  optionLabelPath="content"
  class="form-control"}}
  <span id="helpBlock2" class="help-block">{{parameter.info}}</span>
  </div>
{{/if}}
</div>
