<div class="form-group">
<label class="col-xs-2 control-label">{{parameter.name}}</label>
{{#if isRadio}}
  <div class="col-xs-5">
    {{#x-select value=value class="form-control"}}
      {{#each parameter.options as |option|}}
      {{#x-option value=option}}{{option}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  <span id="helpBlock2" class="help-block">{{parameter.info}}</span>
  </div>
{{/if}}
</div>
