<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{{t 'users.edit'}}</div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      {{partial 'users/index/userform'}}
      <div class="col-xs-2">
        <button class="form-control btn btn-primary" {{action 'saveUser' model}}>{{t 'users.update'}}</button>
      </div>
    </div>
  </div>
</div>

