  <div class="min-sidebar">
  {{partial 'users/index/userform'}}
    <button class="btn btn-primary" {{action 'createUser' model}}>{{t 'users.create'}}</button>
    <div class="clearfix"></div>
  </div>