<h3>Form for create job (new.hbs)</h3>
<div class="min-sidebar">
  <div class="form-group col-xs-12">
    <div class="col-xs-6 col-md-8">
      {{#if error}}
      {{error.msg}}
      {{/if}}
    </div>
    {{partial 'node/show/jobs/source/jobform'}}
  </div>
  <button class="btn btn-primary" {{action 'createJob' model}}>{{t 'jobs.createsubmit'}}</button>
  <div class="clearfix"></div>
</div>
