<button class="btn btn-default"{{action 'refreshModel'}}>Uppdatera</button>
  <table class="table">
    <thead>
      <tr>
        <th>Jobb ID</th>
        <th>Process</th>
        <th>Info</th>
        <th>Aktiverad</th>
        <th>Startad</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |step|}}
        {{step-row step=step}}
      {{/each}}
    </tbody>
  {{step.id}}
</table>
